@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #141416;

  --halo-teal: #005671;
  --halo-teal10: #E6F0F4;
  --halo-gray: #555559;
  --halo-gray20: #DDDDE0;
  --halo-black: #141416;
  --halo-white: #FFFFFF;

  --topbar-height: 36px;
}

@media (max-width: 768px) {
  :root {
    --topbar-height: 0px;
  }
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  color: var(--foreground);
  background: var(--background);
}

.font-display {
  font-family: 'Sunsive', sans-serif;
}